$color_body_primary: #444444; // top pageの本文に多用
$color_body_secondary: #050C22; // introduction pageの本文に多用

$gray: #888888;
$gray_light: #cccccc;
$navy: #233441;
$white: #fff;
$black: #000;

$header_bg: linear-gradient(0deg,
rgba(255, 255, 255, 0),
rgba(255, 255, 255, .25) 25%,
rgba(255, 255, 255, .5) 50%,
rgba(255, 255, 255, .75) 75%,
rgba(255, 255, 255, 1)
);



$breakpoints: (
  'xxs': 'screen and (min-width: 440px)',
  'xs': 'screen and (min-width: 560px)',
  'sm': 'screen and (min-width: 680px)',
  'md': 'screen and (min-width: 800px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1600px)',
  'safari': 'screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)',
) !default;

// 初期値はlg(tablet screen size)
@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin sonarAnimation {
  fill: rgba(35, 52, 65, .1);
  transition: transform ease-out .1s, fill .5s;
  animation: sonar 1.3s ease-out 75ms infinite;
  opacity: .7;
  box-shadow: 0 0 0 .2rem rgba(35, 52, 65, .1);
  transform: scale(.9);

  @keyframes sonar {
    0% {
      opacity: .3;
    }
    40% {
      opacity: .5;
      box-shadow: 0 0 0 .2rem rgba(35, 52, 65, .1), 0 0 1rem 1rem #fff, 0 0 0 1rem rgba(35, 52, 65, .5);
    }
    100% {
      opacity: 0;
      box-shadow: 0 0 0 .2rem rgba(35, 52, 65, .1), 0 0 1rem 1rem #fff, 0 0 0 1rem rgba(35, 52, 65, .5);
      transform: scale(1.5);
    }
  }
}
